			<footer style="
background-color: rgb(33, 33, 33);
width: 100vw;
maxwidth: 100vw;
color: white;
display: flex;
margin-top: 5vh;
padding-top: 5vh;
padding-bottom: 5vh;
justify-content: space-evenly;
position: relative; /* Positioning context for any additional tweaks */
left: 50%; /* Move the footer to the middle */
transform: translateX(-45%);
				">

				<style>html{padding:0;margin:0;}</style>

				<div class="col">
					<div class='logo' style="letter-spacing: -0.07em; font-size: 2em; font-family: 'Libre Baskerville', serif;">
						Datacember	
					</div>
					<br>
					<p style="font-size: 0.8em;"><i>A Datascience December Challenge</i></p>
				</div>

				<div class="col" style="display:block; line-height: 1vh;">
					<p class="footer-title" style="font-size: 1.25em; letter-spacing: -0.07; font-family: 'Libre Baskerville', serif;">DataScience</p>
					<hr style="color: white;">
					<p><a style="color: white; text-decoration: none; font-size:0.8em;" href="
						https://pkgs.rstudio.com/rticles/articles/rticles.html
						">rticles templates</a></p>
					<p><a style="color: white; text-decoration: none; font-size:0.8em;" href="
						https://flax.readthedocs.io/en/latest/
						">Flax - ML library</a></p>
					<p><a style="color: white; text-decoration: none; font-size:0.8em;" href="https://r4ds.hadley.nz">R for Data Science</a></p>
				</div>

				<div class="col" style="display:block; line-height: 1vh;">
					<p class="footer-title" style="font-size: 1.25em; letter-spacing: -0.07; font-family: 'Libre Baskerville', serif;">Developer</p>
					<hr style="color: white;">
					<p><a style="color: white; text-decoration: none; font-size:0.8em;" href="https://github.com/datacember/web">website source code</a></p>
				</div>

				<div class="col" style="display:block; line-height: 1vh;">
					<p class="footer-title" style="font-size: 1.25em; letter-spacing: -0.07; font-family: 'Libre Baskerville', serif;">Other</p>
					<hr style="color: white;">
					<p><a style="color: white; text-decoration: none; font-size:0.8em;" href="/guide/thanks">Thanks!</a></p>
					<p style="font-size:0.8em;">contact:</p>
					<p style="font-size:0.8em;">datacember@gmail.com</p>
				</div>


			</footer>

